{% extends 'base.html' %}
{% block content %}
    <h1>{{ action }} Person</h1>
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" required value="{{ person.first_name if person else '' }}">
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" required value="{{ person.last_name if person else '' }}">
                </div>
                <div class="mb-3">
                    <label for="personal_email" class="form-label">Personal Email</label>
                    <input type="email" class="form-control" id="personal_email" name="personal_email" required value="{{ person.personal_email if person else '' }}">
                </div>
                <div class="mb-3">
                    <label for="id_number" class="form-label">ID Number</label>
                    <input type="text" class="form-control" id="id_number" name="id_number" required value="{{ person.id_number if person else '' }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="tax_id" class="form-label">Tax ID</label>
                    <input type="text" class="form-control" id="tax_id" name="tax_id" required value="{{ person.tax_id if person else '' }}">
                </div>
                <div class="mb-3">
                    <label for="org_email" class="form-label">Org Email</label>
                    <input type="email" class="form-control" id="org_email" name="org_email" value="{{ person.org_email if person else '' }}">
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ person.username if person else '' }}">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">{{ action }}</button>
        <a href="{{ url_for('persons.list') }}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
